@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    position: fixed;
    top: 10px;
    left: 350px;

}

.box p {
    text-align: center;
    padding-top: 50px;
    font-style: oblique;
    color: rgb(0, 0, 0);
}

.box p button {
    background-color: rgb(190, 148, 203);
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.box p button:hover {
    background-color: rgb(135, 93, 148);
    color: white;
}

.title h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 10px;
    color: rgb(48, 47, 47);
    font-family: sans-serif;
}

.container {
    margin-top: 10%;
    width: 200%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.outerT {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerS {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 0px 100px 0px 100px;
    width: 30%;
    height: 70vh;
    background: whitesmoke;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px black;

}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.box h1 {
    text-align: center;
    font-size: 2.7em;
    padding-bottom: 10px;
}

.btn {
    height: 35px;
    background: rgba(191, 167, 222, 0.808);
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn:hover {
    opacity: 0.82;
}

.submit {
    width: 100%;
}

.link {
    margin-bottom: 15px;
}