.offcanvas {
    background-color: rgb(133, 220, 255);
}
.outer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left {
    width: 50%;
    height: 90vh;
    padding-top: 7em;
    text-align: center;
    font-size: 1.5em;
}
.left h1 {
    padding-top: -20px;
    padding-bottom: 20px;
}
.left p {
    font-family: serif;
    font-style: italic;
}
.left btn {
    padding-top: 200px;
}
.right {
    padding-top: 80px;
    width: 50%;
    height: 90vh;
}
.classbtn{
   width: 10rem;
   border-radius: 10px;
   background-color: rgb(206, 154, 238);
   border: none;
   padding: 10px;
   text-align: center;
   cursor: pointer;
   transition: 0.5s;
}

.classbtn a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}
.classbtn a:hover{
    color: white;
}
.classbtn:hover{
    background-color: rgb(174, 0, 248);
    color: white;
}
#class {
    width: 100%;
    height: 90vh;
}
.card-body {
    background-color: rgba(255, 255, 255, 0.926);
}
.modal-footer {
    color: rgb(221, 218, 218);
} 
.card-body {
    background-color: rgba(112, 248, 248, 0.952);
    font-size: 1.2em;
    font-family: sans-serif;
}
.modal-title {
    text-align: center;
    font-family: sans-serif;
    
}